

header {background-color:orange; border-radius:12px; color: black; width: fit-content;
padding-left: 4px; padding-right: 4px; padding-top: 4px; padding-bottom: 4px;}

#header
{background-color: green;

    

}
.body{background-color: green;
    <style>
    border-radius:12px; color:black; width: 315px;
       
      </style> 

}

footer  <style> 
<img src="./assets/images/IMG_20191105_115309-0~2.jpg"> 

</style> 